---
layout: default
---

<div class="home">
  <script src="/javascript/vue/transition.js"></script>
  <script src="/javascript/vue/postresults.js"></script>
  <script src="/javascript/vue/vueinit.js"></script>
  <div id="vue-app">
    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <postresults>
      {%- for tip in site.tips %}
        <template v-slot:{{ tip.url | slugify }}>
          <h1>{{tip.title | escape}}</h1>
          <a href="{{ tip.url | relative_url }}">Link</a>
          {{ tip.content }}
        </template>
      {%- endfor -%}
    </postresults>

  </div>
</div>