---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
      • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card"
          itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
  </header>

  <!-- Stuff I've added
  -->

  <script>
    Vue.component('todo-component', {
      template: '#todo-component',
      data: function () {
        return {
          items: [
            {
              id: 'item-1',
              title: 'Checkout vue',
              completed: false
            }, {
              id: 'item-2',
              title: 'Use this stuff!!',
              completed: false
            }
          ],
          newItem: ''

        };
      },
      methods: {
        addItem: function () {
          if (this.newItem) {
            var item = {
              id: Math.random(0, 10000),
              title: this.newItem,
              completed: false
            };

            this.items.push(item);
            this.newItem = '';
          }
        }
      }
    });
    window.onload = function () {
      var app = new Vue({
        el: '#vue-app'
      });
    };

  </script>

  <script type="x-template" id="todo-component">
    <div>
        <h3>Example vue todo component</h3>
        <div v-for="item in items" class="form-group" :class="{'has-success': item.completed}">
            <div class="input-group">
                <div class="input-group-addon">
                    <input type="checkbox" v-model="item.completed">
                </div>
                <input type="text" v-model="item.title" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <input type="text" v-model="newItem" class="form-control">
                <div class="input-group-btn">
                    <button class="btn" :class="{'btn-primary': newItem}" @click="addItem()">add!</button>
                </div>
            </div>
        </div>
    </div>
  </script>

  <!-- 
    End
  -->

  <div class="container" id="vue-app">
    <p>CONTENT</p>
    <todo-component></todo-component>
  </div>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>